*, *:after, *:before {
    box-sizing: border-box;
}

html {
    background: #333;
    height: 100%;
    width: 100%;
    font-family: Arial;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;
    color: white;
    overflow: hidden;
}

canvas {
    border: 10px solid #282828;
    border-radius: 6px;
}
